{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
<link href="{% static 'css/user_blank.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<br>
<div class="container-blank">
    <div class="row">
        <div class="col-lg-10">
  <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
<!--                <input type="file" multiple name="files[]">-->
<!--                <br>-->
<!--                <input type="text" name="title" placeholder="Название">-->
<!--                <input type="text" name="description" placeholder="Описание">-->
<!--                <input type="date" name="deadline" placeholder="Дедлайн">-->
<!--                <div id="div_id_client" class="form-group"> <label for="id_client" class="">-->
<!--                Client-->
<!--            </label> <div class=""> <select name="client" class="select form-control" id="id_client"> <option value="" selected="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
<!--</select> </div> </div>-->
<!--                <input type="text" name="status" placeholder="Статус">-->
<!--                <input type="number" name="price" placeholder="Цена">-->
<!--                <input type="text" name="order" placeholder="Тип заказа">-->
<!--                <input type="text" name="condition" placeholder="Состояние">-->
<!--                <input type="text" name="work" placeholder="Отправить">-->
                <label >{{ form|crispy }}</label>
<!--      <label>-->

<!--     <div id="div_id_files" class="form-group"> <label for="id_files" class="">-->
<!--                Files-->
<!--            </label> <div class=""> <input type="file" name="files" class="clearablefileinput form-control-file" id="id_files"> </div> </div> <div id="div_id_title" class="form-group"> <label for="id_title" class=" requiredField">-->
<!--                Title<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="title" maxlength="50" class="textinput textInput form-control" required="" id="id_title"> </div> </div> <div id="div_id_description" class="form-group"> <label for="id_description" class=" requiredField">-->
<!--                Description<span class="asteriskField">*</span> </label> <div class=""> <textarea name="description" cols="40" rows="10" class="textarea form-control" required="" id="id_description"></textarea> </div> </div> <div id="div_id_deadline" class="form-group"> <label for="id_deadline" class="">-->
<!--                Deadline-->
<!--            </label> <div class=""><input type="date" name="deadline" id="davaToday"> </div> </div> <div id="div_id_client" class="form-group"> <label for="id_client" class="">-->
<!--                Client-->
<!--            </label> <div class=""> <select name="client" class="select form-control" id="id_client"> <option value="" selected="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option> <option value="1">Timur</option> <option value="2">Avgust</option>-->

<!--</select> </div> </div> <div id="div_id_status" class="form-group"> <label for="id_status" class="">-->
<!--                Status-->
<!--            </label> <div class=""> <select name="status" class="select form-control" id="id_status"> <option value="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option> <option value="1">Обычный</option> <option value="2">Срочный</option>-->

<!--</select> </div> </div> <div id="div_id_price" class="form-group"> <label for="id_price" class=" requiredField">-->
<!--                Price<span class="asteriskField">*</span> </label> <div class=""> <input type="number" name="price" step="any" class="numberinput form-control" required="" id="id_price"> </div> </div> <div id="div_id_order" class="form-group"> <label for="id_order" class="">-->
<!--                Order-->
<!--            </label> <div class=""> <select name="order" class="select form-control" id="id_order"> <option value="" selected="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option> <option value="1">Банер</option> <option value="2">Самоклейка</option> <option value="3">Вывезка</option>-->

<!--</select> </div> </div> <div id="div_id_condition" class="form-group"> <label for="id_condition" class="">-->
<!--                Condition-->
<!--            </label> <div class=""> <select name="condition" class="select form-control" id="id_condition"> <option value="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option> <option value="1">Не начато</option> <option value="2">В процессе</option> <option value="3">Завершено</option> <option value="4">На рассмотрении</option> <option value="5">Отменено</option>-->

<!--</select> </div> </div> <div id="div_id_worker" class="form-group"> <label for="id_worker" class="">-->
<!--                Worker-->
<!--            </label> <div class=""> <select name="worker" class="select form-control" id="id_worker"> <option value="" selected="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option> <option value="1">Менеджер</option> <option value="2">Дизайнер</option> <option value="3">Печать</option> <option value="4">Цех</option> <option value="5">Цех и печать</option>-->

<!--</select> </div> </div>-->
<!--</label>-->
                <br>
                <br>
                <button class="btn btn-success" type="submit">Добавить Заказ</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}