{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
<link href="{% static 'css/filter.css' %}" rel="stylesheet">
<link href="{% static 'css/nav.css' %}" rel="stylesheet">
<link href="{% static 'css/all_materials.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}

<br>

<div class="container-filter">
    <form method='POST' action=''>{% csrf_token %}
    {{ order_form|crispy}}
        <input type="submit" value='Search'/>
</form></div>
<div class="container col-8">
     {% if messages %}
        <ul class="messages">
               {% for message in messages %}
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
       </ul>
  {% endif %}
    <table class="table table-bordered">
  <thead class="table-dark">
    <tr>
        <th>№</th>
        <th>Название</th>
        <th>Клиент</th>
        <th>Дедлайн</th>
        <th>Статус</th>
        <th>Дата</th>
        <th>Состояние</th>
        <th>Сейчас на</th>
        <th>Тип заказа</th>
        {% if user.is_superuser or manage %}
        <th>Цена</th>
        {% endif %}
        <th>Менеджер</th>

    </tr>
  </thead>
  <tbody>
  {% for order in orders %}
    <tr>
        <td>{{ order.id }}</td>
        <td><a href="{% url 'order_detail' order.id %}">{{ order.title }}</a></td>
        <td>{{ order.client }}</td>
        <td>{{ order.deadline|date:"d.m.Y - G:i" }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.date_created|date:"d.m.Y - G:i" }}</td>
        <td>{{ order.condition }}</td>
        <td>{{ order.worker }}</td>
        <td>{{ order.order }}</td>
        {% if user.is_superuser or manage %}
        <td>{{ order.price }}</td>
        {% endif %}
        <td>{{ order.author }}</td>

    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
 <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if orders.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{ orders.previous_page_number }}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}

        {% if orders.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ orders.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in orders.paginator.page_range %}
            {% if orders.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% elif i > orders.number|add:'-5' and i < orders.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if orders.paginator.num_pages > orders.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="?page={{ orders.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if orders.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ orders.next_page_number }}">Next</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>

    <style>
.success{
     list-style: none;
     background-color: #27CA40;
     color: white;
     box-shadow: 12px 12px 12px #e16c66;
     text-align: center;
 }
    </style>

{% endblock content %}