{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
<link href="{% static 'css/order_detail.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}


<div class="container-order-detail">
    <table class="table table-bordered">
<!--      {% for url in new_urls %}-->
<!--        <img src="{{url}}" width="150" height="150"/>-->
<!--        {% endfor %}-->
<!--      {% for order in orders %}-->
      <ul>
        <li>Название:{{ order.title }}</li>
          <li><img src="{{ order.files.url }}" width="300" height="250"></li>
        <li>Описание:{{ order.description|wordwrap:5 }}</li>
        <li>Заказчик:{{ order.client }}</li>
        <li>Дедлайн:{{ order.deadline|date:"d.m.Y" }}</li>
        <li>Статус:{{ order.status }}</li>
        <li>Дата создания:{{ order.date_created|date:"d.m.Y - G:i" }}</li>
        <li>Состояние:{{ order.condition }}</li>
        <br>
        {% if request.user == order.author %}
        <a id="edit" class="edit" href="{% url 'order_edit' order.id %}"><button class="btn btn-success" type="submit">Изменить</button></a>
        <a href="{% url 'invoice' order.id %}"><button class="btn btn-success" type="submit">Счет-фоктор</button></a>
        {% elif order.worker != 'Менеджер' %}
        <a href="{% url 'worker_edit' order.id %}"><button class="btn btn-success" type="submit">Изменить</button></a>
        {% endif %}
          {% if user.is_superuser %}
        <a id="edit" class="edit" href="{% url 'order_edit' order.id %}"><button class="btn btn-success" type="submit">Измения Менеджера</button></a>
        <a href="{% url 'worker_edit' order.id %}"><button class="btn btn-success" type="submit">Измения Цеха</button></a>
        <a href="{% url 'invoice' order.id %}"><button class="btn btn-success" type="submit">Счет-фоктор</button></a>
          <br>
        {% endif %}
        <a  href="{{ MEDIA_URL }}{{ order.files.url }}" download="{{ order.files.url }}"><button class="btn btn-success" type="submit">Скачать файл</button></a>
      </ul>
      {% endfor %}
    </table>
</div>


{% endblock content %}