{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
<link href="{% static 'css/change_password.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<div class="container-change_password">
    <div class="row">
        <div class="col-lg-3">
            <form method="post">
            {% csrf_token %}
            {{ form|crispy  }}
            <button class="btn btn-success" type="submit">Save changes</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

