{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<div class="container-login">
    <div class="row">
        <div class="col-lg-10">
                 {% if messages %}
        <ul class="messages">
               {% for message in messages %}
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
       </ul>
  {% endif %}
            <form method="post">
                {% csrf_token %}
                <label>{{ form|crispy }}</label>
                <br>
                <button class="btn btn-success" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
    <style>
.success{
     list-style: none;
     background-color: #27CA40;
     color: white;
     box-shadow: 12px 12px 12px #e16c66;
     text-align: center;
 }
    </style>
{% endblock content %}