{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
<link href="{% static 'css/profile_update.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<div class="container">
    <div class="row">
             {% if messages %}
        <ul class="messages">
               {% for message in messages %}
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
       </ul>
  {% endif %}
        <div class="col-lg-4">
            <img src="{{ user.image.url }}">
        </div>
        <div class="col-lg-8">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">Update</button>
                <br>
                <a href="{% url 'change_password' %}">Сменить пароль</a>
            </form>
            <br>
        </div>
    </div>
</div>
    <style>
.success{
     list-style: none;
     background-color: #27CA40;
     color: white;
     box-shadow: 12px 12px 12px #e16c66;
     text-align: center;
 }
    </style>
{% endblock content %}
